@page
@model LearningRazor.Pages.AIvsTemplate.TemplateBetterModel
@{
}

<a class=btn btn-primary btn-lg active" type="button" asp-page="/AIvsTemplate/JarvisBetter" aria-pressed="true" role="button">Jarvis Better</a>
<a class=btn btn-primary btn-lg active" type="button" asp-page="/AIvsTemplate/Index" aria-pressed="true" role="button">All Result</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Docguid</th>
            <th scope="col">OrginalCanonicalDiffrence</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var res in Model.Data)
            {

                <tr>

                    <td>@res.Docguid</td>
                    <td>@res.OrginalCanonicalDiffrence</td>
                </tr>
            }
        </tbody>
    </table>

    <form method="post">
        <input type="submit" value="Export" asp-page-handler="Export" />
    </form>


    <div>
        <ul class="pagination">
            @for (var i = 1; i <= Model.pagination.TotalPage; i++)
            {

<li class="page-item @(i == Model.pagination.CurrentPage ? "active" : "")">
    <a asp-page-handler="/pagination" asp-route-currentpage="@i" class="page-link"> @i</a>
</li>
}

        </ul>
    </div>